<div id="container">
  <div id="sidebar">
    <a href="#"
      ><img
        src="../../../assets/dashboard.png"
        alt="dashboard"
        class="btn active"
    /></a>
    <a href="#"
      ><img src="../../../assets/filter.png" alt="filter" class="btn"
    /></a>
    <a href="#"
      ><img src="../../../assets/profile.png" alt="profile" class="btn"
    /></a>
    <a href="#"
      ><img src="../../../assets/stats.png" alt="stats" class="btn"
    /></a>
  </div>
  <div id="main">
    <h2>Progress Dashboard</h2>
  </div>
  <div id="profile">
    <h2>Profile</h2>
  </div>
</div>
