* {
  font-family: sans-serif;
}

#background {
  background-image: url(../../../assets/background.jpg);
  height: 100vh;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#img img {
  border-radius: 20%;
}

.container-box {
  width: 60vw;
}

.container-box h4 {
  color: #fff;
  text-indent: 50px;
  text-align: justify;
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 30px;
  left: 35vw;
  width: 50vw;
}

.section .content {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .content h4:hover {
  transform: skew(5deg, 5deg);
  font-size: 18px;
  font-weight: 600;
}
