* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

#woody {
  background-color: dodgerblue;
  margin-bottom: 10px;
}

#buzz {
  background-color: tomato;
}

h3 {
  padding: 30px;
  margin-bottom: 30px;
}

div.myclass {
  margin-top: 60px;
  border: 5px solid palevioletred;
  width: 800px;
  height: 280px;
}

.box {
  padding: 50px;
  border-style: ridge;
  border-color: blueviolet;
  border-width: 5px;
  display: inline-block;
  border-radius: 6px;
  background: skyblue;
  margin-top: 50px;
}

.blog {
  text-indent: 30px;
  font-weight: 700;
  position: relative;
  left: 15px;
}

#img {
  float: left;
  height: 250px;
}
