.login-form {
  position: relative;
  overflow: hidden;
  top: 50px;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px gray;
}

.header {
  position: relative;
  top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header img {
  flex-basis: 10%;
}

.header h2 {
  flex-basis: 80%;
}

.btn {
  position: relative;
  top: 20px;
}
