<
<form [formGroup]="loginForm" class="login-form">
  <img [src]="logo" style="display: inline-block" />
  <h2 class="header">Login to your account</h2>

  <section style="position: relative; margin: 20px">
    <div class="form-group">
      <label>Email</label>
      <input
        class="form-control"
        type="text"
        formControlName="email"
        placeholder="Email"
      />
    </div>
    <div class="form-group" style="position: relative; top: 10px">
      <label>Password</label>
      <input
        class="form-control"
        type="password"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <div class="mt-4" style="position: relative; top: 10px">
      <button
        class="btn btn-primary btn"
        type="submit"
        [disabled]="isLoading"
        (click)="submit()"
      >
        {{ inLoginMode ? "Login" : "Signup" }}
      </button>
      <button
        class="btn btn-primary btn"
        style="left: 50px"
        (click)="inLoginMode = !inLoginMode"
      >
        {{ "Switch" }}
      </button>
    </div>

    <br />
    <br />
  </section>
</form>
