* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 100%;
  box-shadow: 0 1px 5px gray;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: -webkit-repeating-linear-gradient();
  background-color: rgba(13, 147, 151, 0.514);
  height: 80px;
}

#logo img {
  height: inherit;
}

#logo {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  flex-basis: 35%;
  align-items: center;
  height: 12vh;
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  flex-basis: 45%;
  justify-content: space-between;
}

nav a {
  font-size: 4vh;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  color: #222222;
  font-family: sans-serif;
}
